<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c6f1ae">  <td>20/07/19 11:44:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GMailPageTest.loginTest(java.lang.String, java.lang.String)[pri:0, instance:com.shaanstraining.ui.pages.GMailPageTest@4097cac]">loginTest</td> 
  <td>main@1316005672</td>   <td></td> </tr>
<tr bgcolor="c6f1ae">  <td>20/07/19 11:44:52</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GMailPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.shaanstraining.ui.pages.GMailPageTest@4097cac]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1316005672</td>   <td></td> </tr>
</table>
